.contentCard {
    padding: 16px;
    box-sizing: border-box;
    box-shadow: #969696 1px 1px 20px;
    border-radius: 8px;
    background-color: #fff;
    .cardTitle {
        font-size: 16px;
        color: #8898aa;
    }
    .secTitle {
        font-size: 14px;
        color: #172b4d;
    }
}